form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

label {
	margin: 10px;
	padding-top: 5px;
	width: 75px;
	height: 22px;
	background-color: lavender;
}

input {
	margin: 10px;
}

.submit {
	margin-top: 10px;
	margin-bottom: 20px;
}

.formDiv {
	border-bottom: 1px solid #000;
	width: 75%;
}
